[submodule "assets/tv-logos"]
	path = assets/tv-logos
	url = https://github.com/tv-logo/tv-logos.git
[submodule "assets/epg"]
	path = assets/epg
	url = https://github.com/globetvapp/epg.git
[submodule "assets/iptv-streams"]
	path = assets/iptv-streams
	url = https://github.com/iptv-org/iptv.git
